<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Prenotazioni interrogazioni</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  </head>
  <body>
    <div class = "container mt-5">
        <h1>Sistema di prenotazione interrogazioni</h1>
        <p>Seleziona un'interrogazione disponibile per poterla prenotare</p>
        <table class="table table-stripped">
            <thead>
                <tr>
                    <th>Giorno</th>
                    <th>Materia</th>
                    <th>Stato</th>
                    <th>Studente</th>
                    <th>Azione</th>
                </tr>
                <tbody>
                    {% for interrogazione in interrogazioni %}
                    <tr>
                        <td>{{interrogazione.giorno}}</td>
                        <td>{{interrogazione.materia}}</td>
                        <td>{{interrogazione.stato}}</td>
                        <td>{{interrogazione.studente if interrogazione.studente else 'Nessuno'}}</td>
                        <td>
                            {% if interrogazione.stato == 'disponibile' %}
                            <form action="/prenota" method = "post">
                                <input type="hidden" name="id" value="{{ interrogazione.id }}">
                                <input type="text" name="studente" class="form-control" placeholder="Nome e Congnome">
                            <button type="submit" class="btn btn-primary mt-2">Prenota</button>
                            </form>
                            {% else %}
                            <form action="/cancella" method = "post">    
                                <button type="submit" class="btn btn-danger mt-2">Cancella prenotazione</button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>